* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222;
  color: #d5d5d5;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
/*theme control*/
.light {
  background-color: #d5d5d5;
  color: #222;
}

.light header {
  background-color: #d5d5d5;
}

.light .autobio,
.light .skills,
.light .works-list li {
  background-color: #acacac;
}

.light .menu li a,
.light .footer-container a {
  color: #222;
}

.light .light-theme,
.light .dark-theme {
  border: 1px solid #222;
}

.light .light-theme {
  background-image: url("../img/sun.svg");
}

.light .dark-theme {
  background-image: url("../img/moon.svg");
}

.light .avatar {
  border: 15px solid #acacac;
}

.light .main-text h1 {
  color: #6a6a6a;
}
.light .html {
  background-color: rgba(0, 124, 237, 1);
}

.light .css {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 80%,
    transparent 80%
  );
}

.light .js {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 40%,
    transparent 40%
  );
}

.light .av {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 20%,
    transparent 20%
  );
}

.light .fw {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 10%,
    transparent 10%
  );
}

.light .progress-bar {
  border: 2px solid #acacac;
}

.light .main-buttons a {
  background-color: #acacac;
  color: #222;
  border: 3px solid #333;
}

.light .works-list li a {
  background-color: rgba(0, 124, 237, 1);
  border: 3px solid #333;
}

.light .contact-buttons li a {
  background-color: #acacac;
  color: #222;
  border: 3px solid #333;
}
/*theme control*/

section h2 {
  font-size: 35px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 20px;
}

header {
  background-color: #222;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  width: 1300px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}

button {
  cursor: pointer;
}

.logo {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.logo img {
  display: block;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #d5d5d5;
}

.menu a:hover {
  opacity: 0.7;
}

.menu a:active {
  opacity: 0.5;
}

.theme-switch {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.theme-switch button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.light-theme {
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/sun-light.svg");
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  cursor: pointer;
}

.light-theme:hover {
  opacity: 0.5;
}

.light-theme:active {
  opacity: 0.3;
}

.light-theme.active {
  background-image: url("../img/sun-light.svg");
  background-color: rgba(0, 124, 237, 1);
}

.dark-theme {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url("../img/moon-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  cursor: pointer;
}

.dark-theme:hover {
  opacity: 0.5;
}

.dark-theme:active {
  opacity: 0.3;
}

.dark-theme.active {
  background-image: url("../img/moon-light.svg");
  background-color: rgba(0, 124, 237, 1);
}

.lang {
  display: flex;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: #d5d5d5;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
}

.lang:hover {
  opacity: 0.5;
}

.lang:active {
  opacity: 0.3;
}

.main {
  width: 850px;
  margin: 130px auto;
  display: flex;
  gap: 30px;
  box-sizing: border-box;
}

.main img {
  border-radius: 50%;
  border: 15px solid #333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.main-text {
  height: 280px;
  margin: auto 0;
}

.main-text h1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.main-buttons {
  display: flex;
  gap: 20px;
}

.main-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d5d5d5;
  color: #d5d5d5;
  text-decoration: none;
  background-color: #333;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.main-buttons a:first-child {
  border: 3px solid rgba(0, 124, 237, 1);
}

.main-buttons a:hover {
  opacity: 0.7;
}

.main-buttons a:active {
  opacity: 0.5;
}

.about-me {
  width: 1300px;
  margin: 0 auto 80px auto;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
}

.autobio {
  width: 590px;
  background-color: #333;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.skills {
  width: 590px;
  margin: 0;
  padding: 0;
  padding: 20px;
  list-style: none;
  background-color: #333;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.skills h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 5px;
}

.skills li {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  border: 2px solid #333;
  box-shadow: 0 0 0 1px rgba(0, 124, 237, 1);
  box-sizing: border-box;
  border-radius: 10px;
  width: 350px;
  height: 20px;
  padding-left: 2px;
  display: flex;
  justify-content: start;
}

.html {
  background-color: rgba(0, 124, 237, 1);
}

.css {
  background: linear-gradient(to right, rgba(0, 124, 237, 1) 80%, #333 80%);
}

.js {
  background: linear-gradient(to right, rgba(0, 124, 237, 1) 40%, #333 40%);
}

.av {
  background: linear-gradient(to right, rgba(0, 124, 237, 1) 20%, #333 20%);
}

.fw {
  background: linear-gradient(to right, rgba(0, 124, 237, 1) 10%, #333 10%);
}

.portfolio {
  width: 1300px;
  margin: 0 auto 80px auto;
}

.works-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.works-list img {
  border-radius: 20px;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.works-list li h3 {
  font-size: 27px;
  margin: 0;
  margin-bottom: 10px;
}

.works-list li p {
  margin: 0;
  width: 305px;
  margin-bottom: 30px;
}

.works-list li {
  width: 345px;
  background-color: #333;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.works-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 124, 237, 1);
  color: #d5d5d5;
  text-decoration: none;
  background-color: #333;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.works-list a:hover {
  opacity: 0.7;
}

.works-list a:active {
  opacity: 0.5;
}

.works-list h3,
.works-list p {
  text-align: center;
  margin: 0;
}

.contacts {
  margin: 0 auto 80px auto;
  width: 1300px;
}

.contacts ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.contact-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d5d5d5;
  color: #d5d5d5;
  text-decoration: none;
  background-color: #333;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.contact-buttons a img {
  margin-right: 5px;
}

.contact-buttons .tw:hover {
  border: 3px solid #1da1f2;
  opacity: 0.7;
}

.contact-buttons .tw:active {
  opacity: 0.5;
}

.contact-buttons .ig:hover {
  border: 3px solid #9339c1;
  opacity: 0.7;
}

.contact-buttons .ig:active {
  opacity: 0.5;
}

.contact-buttons .vk:hover {
  border: 3px solid #4d76a1;
  opacity: 0.7;
}

.contact-buttons .vk:active {
  opacity: 0.5;
}

.contact-buttons .li:hover {
  border: 3px solid #0274b3;
  opacity: 0.7;
}

.contact-buttons .li:active {
  opacity: 0.5;
}

.contact-buttons .gh:hover {
  border: 3px solid #000;
  opacity: 0.7;
}

.contact-buttons .gh:active {
  opacity: 0.5;
}

.contact-buttons .tg:hover {
  border: 3px solid #30a7de;
  opacity: 0.7;
}

.contact-buttons .tg:active {
  opacity: 0.5;
}

.contact-buttons .wa:hover {
  border: 3px solid #40c351;
  opacity: 0.7;
}

.contact-buttons .wa:active {
  opacity: 0.5;
}

footer {
  width: 100%;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}

.footer-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container a {
  text-decoration: none;
  color: #d5d5d5;
  font-style: italic;
}

.footer-container a:hover {
  opacity: 0.7;
}

.footer-container a:active {
  opacity: 0.5;
}
