@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #222222;
  color: #d5d5d5;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  transition: background-color, 0.4s;
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #d5d5d5;
  text-decoration: none;
  cursor: pointer;
  transition: color, 0.4s;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.5;
}

button {
  cursor: pointer;
  transition: opacity, 0.2s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.button {
  display: block;
  padding: 10px;
  border-radius: 200px;
  border: 2px solid rgb(0, 124, 237);
  text-align: center;
  font-size: 17px;
  width: 100px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #333333;
  transition: background-color, 0.4s;
}
@media (min-width: 1200px) {
  .button {
    border: 3px solid rgb(0, 124, 237);
    padding: 7px 15px;
  }
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.5;
}

.visually-hidden {
  display: none;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 960px;
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 35px;
    margin-bottom: 35px;
  }
}

.page__header {
  height: 70px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.header__header-wrapper {
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: auto;
}
@media (min-width: 768px) {
  .nav-list {
    margin-right: 25px;
  }
}
@media (min-width: 1200px) {
  .nav-list {
    gap: 20px;
    margin-right: 30px;
  }
}

.header__flex-wrapper {
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 13px;
}
@media (min-width: 1200px) {
  .nav-item {
    font-size: 18px;
    line-height: 23px;
  }
}

.logo__image {
  display: block;
  margin: 0;
  padding: 0;
}

.header__toggles {
  display: flex;
  gap: 15px;
  margin-right: 15px;
  align-items: end;
  padding-bottom: 7px;
}

.header__toggles button {
  font-size: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
}
@media (min-width: 1200px) {
  .header__toggles button {
    width: 30px;
    height: 30px;
  }
}

.header__toggles button:hover {
  opacity: 0.7;
}

.header__toggles button:active {
  opacity: 0.5;
}

.header__toggles .toggle__theme {
  background-size: cover;
}

.header__toggles .toggle__theme.dark {
  background-image: url("../img/icons8-sun-500.svg");
}

.header__toggles .toggle__theme.light {
  background-image: url("../img/moon-svgrepo-com.svg");
}

.header__toggles .toggle__language {
  border: 1px solid rgb(0, 124, 237);
  border-radius: 50%;
  color: rgb(0, 124, 237);
  font-size: 10px;
  margin: 0;
}
@media (min-width: 1200px) {
  .header__toggles .toggle__language {
    font-size: 14px;
  }
}

.intro__wrapper {
  margin: 30px auto 60px auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .intro__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper {
    gap: 40px;
  }
}

.intro__avatar {
  display: block;
  margin: 0 auto;
  border: 10px solid #333;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: border, 0.4s;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .intro__avatar {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .intro__avatar {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .intro__text-wrapper {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  .intro__text-wrapper {
    max-width: 450px;
  }
}

.intro__position {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .intro__position {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .intro__position {
    font-size: 20px;
  }
}

.intro__name {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .intro__name {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .intro__name {
    font-size: 35px;
  }
}

.intro__text {
  text-align: center;
}
@media (min-width: 768px) {
  .intro__text {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .intro__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.intro__button-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .intro__button-wrapper {
    justify-content: start;
  }
}

.intro__button:last-child {
  border: 2px solid #d5d5d5;
}
@media (min-width: 1200px) {
  .intro__button:last-child {
    border: 3px solid #d5d5d5;
  }
}

@media (min-width: 1200px) {
  .about-me__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.about-me__text-wrapper {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .about-me__text-wrapper {
    width: 48%;
  }
}

.about-me__background-wrapper {
  background-color: #333;
  transition: background-color, 0.4s;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1200px) {
  .about-me__background-wrapper {
    padding: 25px;
  }
}

.about-me__background-wrapper p:first-child {
  margin-top: 0;
}

.about-me__background-wrapper p:last-child {
  margin-bottom: 0;
}

.about-me__skills-wrapper {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .about-me__skills-wrapper {
    width: 48%;
  }
}

.about-me__skills-list {
  background-color: #333333;
  transition: background-color, 0.4s;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 1200px) {
  .about-me__skills-list {
    padding: 25px;
  }
}

.skills-item {
  padding: 5px 10px;
  border-radius: 200px;
  border: 2px solid rgb(0, 124, 237);
}
@media (min-width: 1200px) {
  .skills-item {
    padding: 5px 15px;
    border: 3px solid rgb(0, 124, 237);
  }
}

.main__portfolio {
  padding-bottom: 60px;
}

.portfolio-wrapper {
  position: relative;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .portfolio__list {
    justify-content: space-between;
  }
}

.portfolio__item {
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  box-shadow: inset 0 -100px 80px 0 #222222, 0 5px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border: 3px solid #333;
  background-size: cover;
  background-position: center top;
}
@media (min-width: 768px) {
  .portfolio__item {
    max-width: 310px;
  }
}

@media (min-width: 1200px) {
  .portfolio__item:hover .item__position_wrapper {
    bottom: 10px;
  }
}
.item__position_wrapper {
  width: 100%;
  transition: bottom, 0.2s;
  position: absolute;
  bottom: 10px;
}
@media (min-width: 1200px) {
  .item__position_wrapper {
    bottom: -50px;
  }
}

.portfolio-item__title {
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.portfolio__open-button {
  background-color: #333333;
  margin: 0 auto;
}

.portfolio__item.yacht-club {
  background-image: url("../img/screenshots/sail-club.png");
}

.portfolio__item.borodinski {
  background-image: url("../img/screenshots/borodinski.jpg");
}

.portfolio__item.fun-project {
  background-image: url("../img/screenshots/collector.jpg");
}

.portfolio__item.collector {
  background-image: url("../img/screenshots/collector.jpg");
}

.portfolio__item.calorie-counter {
  background-image: url("../img/screenshots/calorie-counter.jpg");
}

.portfolio__item.ottica-rubelle {
  background-image: url("../img/screenshots/ottica-rubelle.jpg");
}

.portfolio__item.landing-pages {
  background-image: url("../img/screenshots/landing.jpg");
}

.portfolio__funprojects-modal-wrapper.closed,
.portfolio__landing-pages-modal-wrapper.closed {
  visibility: hidden;
  position: absolute;
  top: -1000px;
}

.portfolio__funprojects-modal-wrapper.opened,
.portfolio__landing-pages-modal-wrapper.opened {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-top: 100px;
  visibility: visible;
  transition: visibility, 0.2s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 99;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
}

.portfolio__fun-projects,
.portfolio__landing-pages {
  display: block;
  position: relative;
  background-color: #222222;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  width: 85%;
  max-width: 500px;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}
@media (min-width: 768px) {
  .portfolio__fun-projects,
  .portfolio__landing-pages {
    padding: 30px 20px 30px 20px;
    max-width: 640px;
  }
}
@media (min-width: 1200px) {
  .portfolio__fun-projects,
  .portfolio__landing-pages {
    max-width: 960px;
  }
}

.portfolio__fun-project-title,
.portfolio__landing-pages-title {
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__fun-project-list,
.portfolio__landing-pages-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.portfolio__close-button,
.portfolio__landing-pages-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/cross-16.svg");
  background-size: cover;
}

.main__contacts {
  padding-bottom: 60px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contacts__button {
  border: 2px solid #d5d5d5;
}
@media (min-width: 1200px) {
  .contacts__button {
    border: 3px solid #d5d5d5;
  }
}

.contacts__button.gh:hover {
  border: 2px solid #111111;
}
@media (min-width: 1200px) {
  .contacts__button.gh:hover {
    border: 3px solid #111111;
  }
}

.contacts__button.tg:hover {
  border: 2px solid #30a7de;
}
@media (min-width: 1200px) {
  .contacts__button.tg:hover {
    border: 3px solid #30a7de;
  }
}

.contacts__button.wa:hover {
  border: 2px solid #40c351;
}
@media (min-width: 1200px) {
  .contacts__button.wa:hover {
    border: 3px solid #40c351;
  }
}

.page__footer {
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}

.footer-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
  }
}

.footer__email {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
}

.footer__copyright {
  padding: 0;
  margin: 0;
}

.page.light {
  background-color: #d5d5d5;
  color: #222222;
}

.light a {
  color: #222222;
}

.light .button {
  background-color: #c5c5c5;
}

.light .intro__button:last-child {
  border: 2px solid #333333;
}
@media (min-width: 1200px) {
  .light .intro__button:last-child {
    border: 3px solid #333333;
  }
}

.light .intro__avatar {
  border: 10px solid #c5c5c5;
}

.light .intro__position {
  color: #606060;
}

.light .about-me__skills-list {
  background-color: #c5c5c5;
}

.light .about-me__background-wrapper {
  background-color: #c5c5c5;
}

.light .portfolio__item {
  box-shadow: inset 0 -100px 80px 0 #d5d5d5, 0 5px 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #c5c5c5;
}

.light .portfolio__fun-projects {
  background-color: #d5d5d5;
}

.light .portfolio__close-button {
  background-image: url("../img/cross-16-dark.svg");
}

.light .contacts__button {
  border: 2px solid #333333;
}
@media (min-width: 1200px) {
  .light .contacts__button {
    border: 3px solid #333333;
  }
}

/*# sourceMappingURL=style.css.map */
