.about-me__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.about-me__text-wrapper {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    width: 48%;
  }
}

.about-me__background-wrapper {
  background-color: #333;
  transition: background-color, 0.4s;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

  @media (min-width: $desktop-width) {
    padding: 25px;
  }
}

.about-me__background-wrapper p:first-child {
  margin-top: 0;
}

.about-me__background-wrapper p:last-child {
  margin-bottom: 0;
}

.about-me__skills-wrapper {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    width: 48%;
  }
}

.about-me__skills-list {
  background-color: #333333;
  transition: background-color, 0.4s;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $desktop-width) {
    padding: 25px;
  }
}

.skills-item {
  padding: 5px 10px;
  border-radius: 200px;
  border: 2px solid rgba(0, 124, 237, 1);

  @media (min-width: $desktop-width) {
    padding: 5px 15px;
    border: 3px solid rgba(0, 124, 237, 1);
  }
}
