.main__contacts {
  padding-bottom: 60px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contacts__button {
  border: 2px solid #d5d5d5;

  @media (min-width: $desktop-width) {
    border: 3px solid #d5d5d5;
  }
}

.contacts__button.gh:hover {
  border: 2px solid #111111;

  @media (min-width: $desktop-width) {
    border: 3px solid #111111;
  }
}

.contacts__button.tg:hover {
  border: 2px solid #30a7de;

  @media (min-width: $desktop-width) {
    border: 3px solid #30a7de;
  }
}

.contacts__button.wa:hover {
  border: 2px solid #40c351;

  @media (min-width: $desktop-width) {
    border: 3px solid #40c351;
  }
}
