.light {
  background-color: #d5d5d5;
  color: #222;
}

.light header {
  background-color: #d5d5d5;
}

.light .autobio,
.light .skills,
.light .works-list li {
  background-color: #acacac;
}

.light .menu li a,
.light .footer-container a,
.light .lang {
  color: #222;
}

.light .light-theme,
.light .dark-theme,
.light .lang {
  border: 1px solid #222;
}

.light .light-theme {
  background-image: url("../img/sun.svg");
}

.light .dark-theme {
  background-image: url("../img/moon.svg");
}

.light .avatar {
  border: 15px solid #acacac;
}

.light .main-text h1 {
  color: #6a6a6a;
}
.light .html {
  background-color: rgba(0, 124, 237, 1);
}

.light .css {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 80%,
    transparent 80%
  );
}

.light .js {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 70%,
    transparent 70%
  );
}

.light .av {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 40%,
    transparent 40%
  );
}

.light .fw {
  background: linear-gradient(
    to right,
    rgba(0, 124, 237, 1) 30%,
    transparent 30%
  );
}

.light .progress-bar {
  border: 2px solid #acacac;
}

.light .main-buttons a {
  background-color: #acacac;
  color: #222;
  border: 3px solid #333;
}

.light .works-list li a,
.light .works-list li button {
  background-color: rgba(0, 124, 237, 1);
  border: 3px solid #333;
}

.light .contact-buttons li a {
  background-color: #acacac;
  color: #222;
  border: 3px solid #333;
}
